#footer {
    position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
   background-color: black;
   color: white;
   text-align: center;
    align-content: center;
    width: 100%;
}

#social{
    filter: invert();
    height: 23px;
    padding-right: 10px;
    
}

#social2{
    filter: invert();
    height: 28px;
    padding-left: 10px;
}

/*----------------------index------------------------*/

#index{padding-top:40px;}@media (min-width:768px){#index{padding-top:0;}}@media (min-width:768px){#index{margin-right:232px;}}

#indexim{
    height: 24vh;
}
#nav1{
    background-color: #FF0033;
}
#nav2{
    background-color: #6666FF;
}
#nav3{
    background-color: #66CC99;
}

@media (min-width: 768px) {
 #index {
    margin-right: 232px;
  }
}

.navbar.fixed-right {
    background-color: aqua;
  position: fixed;
    padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
    text-align: center;
    font-size: 5vh;
    overflow-y: hidden;
}

@media (min-width: 768px) {
  .navbar.fixed-right {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .navbar.fixed-right .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%;
  }
  .navbar.fixed-right .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  .navbar.fixed-right .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar.fixed-right .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top: 0;
  }
}

@media (min-width: 768px) {
  .navbar.fixed-right {
    left: auto;
  }
  .navbar.fixed-right .navbar-nav .nav-item .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-left: none;
    border-bottom: 0.3em solid transparent;
    border-right: 0.3em solid;
    vertical-align: baseline;
  }
    
  .navbar.fixed-right .navbar-nav .nav-item .dropdown-menu {
    left: auto;
    right: 100%;
  }
}

@media (max-width: 768px) {#c1{height: 20px;} #c2{height: 50vh;}}

.parent{
    display: grid;
    grid-template-columns: 50% auto;
    margin: 0;
    padding: 0;
}
.left-panel{
    background-color: #b59bc7;
    font-family: 'qaligo',sans-serif;
    height: 100vh;
    padding: 0 10px 0 2px;
    
}
.right-panel{
    background-color: #1F1F1F;
    color: white;
}

#title{
    text-align: left;
    padding-top: 55%;
    padding-left: 10%;
    font-size: 3em;
    line-height:1.9em;
    white-space: normal;
}
/*----------------------works------------------------*/
#worksection{
    background-color: #1F1F1F;
    padding: 10px;
}
.header{
    height: 30vh;
    font-size: 30vh;
    padding-top: 12vh;
    padding-left: 12.5vh;
    color: #FF0033;
}

#wsection{
    font-size: 10vh;
    font-family: 'quicksand',sans-serif;
    font-weight: bold;
}

.works{
    font-size: 16px;
    width: 100vw;
}

.img-responsive{
    height: 17em;
    width: 17em;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.figure-caption{
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
    font-family: 'quicksand', sans-serif;
}

.col-12{
   text-align: center;
    display: inline-block;

}

.botones{
    height: 30vh;
    align-content: center;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 20vh;
    padding-left:10vh;
    padding-right: 10vh;
}
.btn-primary{
    align-content: center;
    font-size: 3vh;
    font-family: 'quicksand', sans-serif;
    padding: 30px;
    width: 300px;
    height: 12vh;
    background-image: url(images/mitskibt.jpg);
    background-size: cover;
    background-position: center;
}
.btn-secondary{
    align-content: center;
    font-size: 3vh;
    font-family: 'quicksand', sans-serif;
    padding: 30px;
    width: 300px;
    height: 12vh;
    background-image: url(images/megbt.jpg);
    background-size: cover;
    background-position: center;
}


/*----------------------about/contact------------------------*/

.ac{
    padding: 0;
    width: 100vw;
    background-color: #1F1F1F;
    height: 100vh;
    overflow-x: hidden;
}

#aboutimg{background-color: #6666FF; height: 50vh; padding-top: 5vh;}
#contactimg{background-color: #66CC99; height: 50vh; padding-top: 5vh;}
#contact{filter: invert();padding: 50px;}
#about{ padding: 50px;}
#aboutinfo{color: white; text-align: left; padding-top: 10%; padding-left: 25px; padding-right: 25px; padding-bottom: 10%; font-size: 1.5em;}
#contactinfo{padding-top: 10%; padding-bottom: 10%;}
#contact1{height: 100px; padding-right: 100px; filter: invert();}
#contact2{height: 150px; filter: invert();}

/*----------------------website------------------------*/

#websiteheader{
    background-color: #1F1F1F;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;
}

#wheader{
    font-family: 'qaligo', sans-serif;
    font-size: 4vh;
    text-align: center;
    
}
#developim{
    width: 50vw;
    align-content: center;
}
#development{
    padding-top: 40vh;
}

#wheader2{
    font-size: 8vh;
    color: #1F1F1F;
    text-align: center;
    font-family: 'quicksand', sans-serif;
    font-weight: 600;
}

#imconcept{
    align-content: center;
    padding: 20px;
}

#concept{
    text-align: left;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
    font-family: 'quicksand', sans-serif;
}
