body{background-color: #1F1F1F;}

#footer {
    position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
   background-color: black;
   color: white;
   text-align: center;
    align-content: center;
    width: 100%;
}

#social{
    filter: invert();
    height: 23px;
    padding-right: 10px;
    
}

#social2{
    filter: invert();
    height: 28px;
    padding-left: 10px;
}

/*----------------------nav-----------------------*/
/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;
 
  color: #fff;
} */

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}


/* Hamburger */
.hamburger1 {
  height: 45px;
    width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: right;
  z-index: 120;
    padding-top: 15px;
    background-color: #1F1F1F;
}

.hamburger1 div {
  background-color: #b59bc7;
  position: relative;
  width: 40px;
  height: 5px;
    right: 25px;
  transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 100%;
}


/* Menu */
.menu1 {
  width: 100%;
    display: flex;
    flex-direction: row;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
    transition: all 0.3s ease;
  transition: all 0.3s ease;
    background-color: #1F1F1F;
    padding-top: 20px;
    
}

#imgmenu{
        width: 100%; 
        height:  70%;
}


.link1 {
height: 250px;
  width: 20%;
  margin: 0;
    padding-top: 15px;
}



.link1:hover {
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#l0{background-color: #483469; padding-top: 4%; margin: 0; padding-top: 50px; padding-bottom: 70px; color: white;}
#l0text{font-family: 'qaligo', sans-serif; font-size: 1.8vw; line-height: normal; align-content: center;}
#l1{background-color: #b59bc7; font-size: 2em;color: white;}
#l2{background-color: #FF0033; font-size: 2em;color: white;}
#l3{background-color: #6666FF; font-size: 2em;color: white;}
#l4{background-color: #66CC99; font-size: 2em;color: white;}

@media (min-width: 1900px){
    #l0{background-color: #483469; padding-top: 4%; margin: 0; padding-top: 70px; padding-bottom: 70px;}
#l0text{font-family: 'qaligo', sans-serif; font-size: 1.7em; line-height: normal; align-content: center;}
#l1{background-color: #b59bc7; font-size: 3em; position: relative;}
#l2{background-color: #FF0033; font-size: 3em; position: relative;}
#l3{background-color: #6666FF; font-size: 3em; position: relative;}
#l4{background-color: #66CC99; font-size: 3em; position: relative;}
}


@media (max-width: 769px) {
    
    #imgmenu{
        width: 90%; 
        height: 90%;
    }
    
    .menu1 {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding-right: 0;
        position: relative;
    
    }
    
    .link1:first-child{
        width: 100%;
        height: 20%;
        margin-top: 20px;
    }
    
    .link1{
        margin-top: 0;
        height: 180px;
        width: 50%;
        padding: 20px;
    }
    
    .hamburger1 div{
        margin-right: 20px;
    }
    
    #l0text{font-family: 'qaligo', sans-serif; font-size: 5vw; width: 100%; padding: 15px; text-align: center;}
    #l0{padding: 0;}
    #l1{font-size: 20px;}#l2{font-size: 20px;}#l3{font-size: 20px;}#l4{font-size: 20px;}
    }

/*----------------------index------------------------*/
a {
  color: #000;
}

#indexim{
    max-width: 90%;
     
    }

/* navbar */

.nav {
  background-color: black;
  box-shadow: 1px 1px 4px 0 black;
  position: fixed;
  width: 20%;
    height: 100%;
    right: 0;
  z-index: 3;
    overflow: hidden;
}

.nav ul {
  margin: 0;
    padding: 0;
  list-style: none;
  overflow: hidden;
    
}


.nav li a {
  display: block;
  border-right: 1px solid #f4f4f4;
    font-size: 1.5vw;
    font-family: 'quicksand', sans-serif;
    color: white;
  text-decoration: none;
    text-align: center;
}

.nav li a:hover,
.nav .menu-btn:hover,
#b1:hover, #b2:hover, #b3:hover{
  background-color: #b59bc7;
}

.nav .logo {
  display: none;
}

/* menu */
.nav .menu {
  clear: both;
  max-height: 0;
    height: 100%;
  transition: max-height .2s ease-out;   
}

#b1{background-color: #FF0033; width: 100%; height: 33.33%; padding-top: 5%;}
#b2{background-color: #6666FF; width: 100%; height: 33.33%; padding-top: 5%;}
#b3{background-color: #66CC99; width: 100%; height: 33.33%; padding-top: 5%;}

/* menu icon */

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-btn {
  display: none;
}

.nav .menu-btn:checked ~ .menu {
  max-height: 100%;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 49em) {
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 5px 35px 5px 35px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: 100%;
  }
  .nav .menu-icon {
    display: none;
  }
}

@media (max-width: 48em) {
   .nav .menu-btn:checked ~ .menu {
       max-height: 50%;
}
    .nav {
        display: block;
  box-shadow: none;
  position: relative;
  width: 100%;
  max-height: 100%;
        
}
    #indexim{
        width:25%;
    }
    .nav li a{
        font-size: 20px;
        
    }
    
}


/*cuerpo*/
#index{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(90deg, #b59bc7 43%, #1f1f1f 35%);
}

.flex-container {
    margin-right: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 2 55%;
    align-self: auto;
}

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 2 45%;
    align-self: auto;
    }

.card-body{
    height: 100vh;
}

#circle{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: #1F1F1F;
    margin-left: 10px;
}

#circle-group{
    display: inline-flex;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

#circle2{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: #b59bc7;
    margin-right: 10px;
}

#circle-group2{
    display: inline-flex;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
       
}

#title{
    top: 42%;
    position: absolute;
    font-size: 4.5vw;
    line-height: 1.7em;
    padding-left: 5%;
    margin-right: 50px;
    color: #270D3A ;
    font-family: 'qaligo';
}

#portfolio-title{
    vertical-align: middle;
    color: #b59bc7;
    position: absolute;
    font-size: 3vw;
    top: 61%;
    height: 100px;
    margin-left: 10%;
    font-family: 'qaligo';
}

.boxed {
  border: 20px solid #b59bc7;
    font-family: 'qaligo';
    font-size: 1.5vw;
    text-align: center;
    color: #1F1F1F;
    bottom: 15%;
    right: 25%;
    position: absolute;
    background-color: #b59bc7;
    width: 50%;
}

orientation : landscape

@media only screen and (min-device-width: 360px) 
                   and (max-device-width: 641px) 
                   and (orientation: landscape) {

.card-body{
        min-height: 50vh;
        width: 100vw;
    }
}


@media (max-width: 48em) {

    #index{
     background: linear-gradient(110deg, #270D3A 50%, #1f1f1f 50%);
        overflow-y: auto;
        }
    
    .flex-container {
    display: flex;
    
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 2 50%;
    width: 100vw;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 2 50%;
    width: 100vw;
    align-self: auto;
    }
    
    .card-body{
        max-height: 50vh;
        width: 100vw;
    }
    
    #circle-group{
        top: 0;
    }
    
    #circle{
        background-color: #B59BC7;
    }
    #circle2{
        background-color: #B59BC7;
    }
    #circle-group2{
        top: 80%
        
       
}
    #title{
    font-size: 10vw;
        margin: 0;
        position: absolute;
        padding: 0;
        text-align: center;
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        top: 60%;
        color: white;
        
        
    }
   
    
    #portfolio-title{
    color: #b59bc7;
        width: 100vw;
    position: absolute;
    font-size: 5vw;
    text-align: center;
    top: 23%;
    margin: 0;
        left: 50%;
        transform: translateX(-50%);
    font-family: 'qaligo';
        
}
    .boxed {
  border: 20px solid #b59bc7;
    font-family: 'qaligo';
    font-size: 2.5vw;
    text-align: center;
    color: #1F1F1F;
    bottom: 42%;
        left: 50%;
        transform: translateX(-50%);
    position: absolute;
    background-color: #b59bc7;
        height: 15%;
    width: 35%;
}

}



*----------------------works------------------------*/
#worksection{
    background-color: #1F1F1F;
    padding: 10px;
}

.col-12{
   text-align: center;
    display: inline-block;

}

#wsection {
    height: 28vh;
    font-size: 30vh;
    padding-top: 10vh;
    padding-left: 12.5vh;
    color: #FF0033;
}
    @media (max-width: 768px){.header{padding-left:0px;text-align: center;padding-bottom: 0px;}}

#wsection{
    font-size: 10vh;
    font-family: 'quicksand',sans-serif;
    font-weight: bold;
}

.works{
    font-size: 16px;
    width: 100vw;
}

.img-responsive{
    height: 20em;
    width: 20em;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.figure-caption{
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
    font-family: 'quicksand', sans-serif;
}


.botones{
    height: 30vh;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding-top: 10vh;
    padding-bottom: 20vh;
    padding-left:10vh;
    padding-right: 10vh;
}
.btn-primary{
    align-content: center;
    font-size: 3vh;
    font-family: 'quicksand', sans-serif;
    padding: 30px;
    width: 350px;
    height: 16vh;
    background-image: url(images/mitskibt-min.jpg);
    background-size: cover;
    background-position: center;
}
.btn-secondary{
    align-content: center;
    font-size: 3vh;
    font-family: 'quicksand', sans-serif;
    padding: 30px;
    width: 350px;
    height: 16vh;
    background-image: url(images/megbt-min.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width:1280px){
    .img-responsive{width: 17em; height: 17em;}
}
@media (max-width: 1024px) and (min-width: 769px){
    .img-responsive{width: 14em; height: 14em;}
}

@media (max-width: 768px){
    .btn-primary{margin-bottom: 20px; width: 300px;} 
    .botones{align-content: center; margin-bottom: 30px; padding: 0;}
    .btn-secondary{margin-bottom: 20px;width: 300px;}}

/*----------------------LIGHTBOX------------------------*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
    color: white;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

#modalimage{
    justify-content: center;
    text-align: center;
    background-color: black;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */

.caption-container{
    padding-top: 10px;
    font-family: 'quicksand', sans-serif;
    color: white;
}
.caption-container::after{
position: absolute;
  
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*----------------------LIGHTBOX END------------------------*/

/*----------------------about/contact------------------------*/

.ac{
    padding: 0;
    margin-top: 0;
    background-color: #1F1F1F;
    overflow-x: hidden;
}

#about{background-color: #6666FF; height: 700px; width: 550px; padding-top: 40%; float: left;}
#aboutimg{width: 100%;}
#aboutinfo{font-family: 'Quicksand', sans-serif; float: right; color: white; text-align: left; margin-left: 10px; padding-top: 25%; font-size: 1.5em; height: 700px; width: 750px;}

#contact{background-color: #66CC99; height: 700px; width: 550px; padding-top: 40%; bottom: 0; float: left;}
#contactimg{filter: invert(); width: 100%; display: flex;}

#contactinfo{float: right; margin-left: 10px; padding-top: 25%; height: 700px; width: 750px;}


#contact1{width: 30%; filter: invert(); margin: 20px;}
#contact2{width: 25%; filter: invert(); margin: 20px;}

@media (max-width: 1280px){
    #about{max-width: 600px; max-height: 600px;}
    #aboutinfo{max-width: 500px; max-height: 600px;}
    #contact{max-width: 600px; max-height: 600px;}
    #contactinfo{max-width: 500px; max-height: 600px;}  
}

@media (max-width: 1024px) and (min-width:769px){
    #about{max-width: 400px; max-height: 600px;}
    #aboutinfo{max-width: 500px; max-height: 600px;}
    #contact{max-width: 400px; max-height: 600px;}
    #contactinfo{max-width: 500px; max-height: 600px;}
}

@media (max-width: 768px){
    #aboutimg{width: 100%;}
    #about{height: 500px; width: 100%; display:flex; padding: 0; float: none;}
    #aboutinfo{width: 100%;float: none; margin-left: 0;}
    
    #contact{height: 500px; width: 100%; display:flex; padding: 0;float: none;} 
    #contactimg{ width: 100%;}
    #contactinfo{width: 100%; height: 700px;float: none; margin-left: 0;}
    
    #contact1{width: 50%; margin: 10px; padding-bottom: 50px;}
    #contact2{width: 50%; margin: 10px; padding-bottom: 50px;}
}
/*----------------------website------------------------*/
#website{
    margin: 0;
    padding: 0;
    background-color: white;
}

#wheader{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2em;
}

#websiteheader{
    height: 200px;
    background-color: #1F1F1F;
    font-family: 'qaligo', sans-serif;
    font-size: 4vh;
    text-align: center;
    color: red;
    
}

#developim{
    width: 50vw;
    align-content: center;
    
}
#development{
    padding-top: 40vh;
}

#wheader2{
    font-size: 8vh;
    color: #1F1F1F;
    text-align: center;
    font-family: 'quicksand', sans-serif;
    font-weight: 600;
}

#imconcept{
    align-content: center;
    padding: 20px;
}

#concept{
    text-align: left;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 150px;
    padding-top: 150px;
    font-family: 'quicksand', sans-serif;
}